<div class="otp-container mt-5">
  <%= form_tag user_verify_otp_path do %>
    <h2>Enter OTP</h2>
    <h2>Please check your email for the OTP</h2>
    <h2 class="alert"><%= flash.alert %></h2>
    <%= text_field_tag 'otp', nil, options = { placeholder: 'One Time Password', size: '6', maxlength: '6' } %>
    <%= hidden_field_tag(:email, current_user.email) %>
    <%= submit_tag 'Submit OTP' %>
    <%= link_to 'Resend OTP', user_otp_page_path %>
    <br/>
    <%= link_to 'Logout', destroy_admin_user_session_path, method: :delete %>
  <% end %>
</div>
