<div class="container-fluid bg-white">
  <div class="container main-page pt-3">
    <%# <form class="form-inline py-2">
      <div class="form-group d-flex"  style="width: 100%">
        <input type="password" class="form-control" style="flex: 1" id="inputPassword2" placeholder="Search" >
        <button type="submit" class="btn btn-primary mx-2" >Search</button>
      </div>
    </form> %>
    <div class="container border shadow rounded m-2 p-4" style="display: flex; align-items: center; background-color: #5496ff">
      <img src="/images/banner.jpg" style="width: 300px; margin-right: 24px">
      <h1 class="h3">
        “Fish is held out to be one of the greatest luxuries of the table and not only necessary, but even indispensable at all dinners where there is any pretense of excellence or fashion.” – Isabella Beeton
        <br/>
        <a href="/products" type="submit"
         name="commit" value="ADD TO CART" class="btn d-inline-block mt-3 btn btn-light text-decoration-none font-weight-bold" data-disable-with="ADD TO CART">ADD TO CART NOW!</a>
      </h1>
    </div>
    <div class="border shadow rounded m-2 mt-4 p-4">
      <h1 class="h3">Products</h1>
      <div class="container grid-container ">
        <% Product.all.limit(4).each do |product| %>
          <a href="/products/<%= product.id %>" class="card-link text-reset text-decoration-none">
            <div class="card" style="">
              <% if product.image.attached? %>
                <%= image_tag product.image, class: 'card-img-top' %>
              <% else %>
                <%= image_tag '/images/no-image.png', class: 'card-img-top' %>
              <% end %>
              <div class="card-body d-flex flex-column justify-content-between" style="height: 180px">
                <div>
                  <h5 class="card-title h5"><%= product.name %></h5>
                  <p class="card-text"><%= product.description %></p>
                </div>
                <p class="card-text h4 text-danger"><%= format_currency current_user.user_type == "individual" ? product.price : product.wholesale_price %></p>
              </div>
            </div>
          </a>
        <% end %>
        <a href="/products">View more</a>
      </div>
    </div>
    <%# <div class="border shadow rounded m-2 mt-4 p-4">
      <h1 class="h3">Services</h1>
    </div> %>
  </div>
</div>
