<div class="container mt-5 shadow rounded bg-white py-5 px-4">
  <div class="row">
    <div class="col-sm-3">
      <% if current_user.image.attached? %>
        <%= image_tag current_user.image, class: 'w-100 rounded' %>
      <% else %>
        <%= image_tag "/images/no-image.png", class: 'w-100 rounded' %>
      <% end %>
    </div>
    <div class="col-sm-9">
      <h3><%= current_user.name %></h3>
      <hr>
      <table class="table custom-table">
        <tr>
          <th>First Name</th>
          <td class="text-dark"><%= current_user.first_name %></td>
        </tr>
        <tr>
          <th>Last Name</th>
          <td class="text-dark"><%= current_user.last_name %></td>
        </tr>
        <tr>
          <th>Email</th>
          <td class="text-dark"><%= current_user.email %></td>
        </tr>
        <tr>
          <th>Gender</th>
          <td class="text-dark"><%= current_user.gender %></td>
        </tr>
        <tr>
          <th>Birthday</th>
          <td class="text-dark"><%= current_user.birthday %></td>
        </tr>
        <tr>
          <th>Address</th>
          <td class="text-dark"><%= current_user.address %></td>
        </tr>
        <tr>
          <th>Contact Number</th>
          <td class="text-dark"><%= current_user.contact_number %></td>
        </tr>
      </table>
      <a href="/profile/edit_profile" class="btn btn-primary">Edit profile</a>
      <a href="/profile/change_password" class="btn btn-primary">Change Password</a>
    </div>
  </div>
</div>
